extends layout

block content
    div.l-content
        div#Home.main-section
            h2.service-tables-header About Us
            div.center
                p
                    | At IKS, we offer a unique approach to getting you connected to the services you need. <br />
                    | Based on a cooperative structure, we provide reliable yet affordable tech related services.
                    | Being a team of local skilled professionals, we are able to provide a quick response time,
                    | while living up to the standard of excellence expected both by you and us here at IKS. <br />
                    | At IKS, we believe in building a strong community between customers and local workers.
                    h2.service-tables-header How it works
                p
                    | IKS has created a network of individuals who hold skills in specific fields. These individuals
                    | are spread out throughout our cities of business, in order to cover as wide a territory as possible
                    | When you contact IKS for a specific service, IKS then contacts their worker with that specific
                    | skill who resides closest to you. By doing so, we are able to provide you with the fastest service
                    | possible, as well as allowing for convenient in home services with minimal transportation costs.
                    | An extra benefit, is that local workers are able to perform the work rather than a large
                    | faceless organization.
                h2.service-tables-header Motivation
                p
                    | Large corporations are able to provide complete services similar to IKS, yet because they have
                    | large overhead through rent and paying employees to standby for your call, their prices are
                    | much higher than might be achieved through a different business model. IKS circumvents those
                    | problems by employing
                    | workers depending on the jobs available. It also leads to a cooperative market, rather than a competitive one.
                    | Everyone at IKS is working together to provide a high qualitiy service at reasonable prices, rather
                    | than trying to undercut the competition. IKS charges prices neccessary to provide fair wage for
                    | workers, while providing a service to our customers which are greater in value than the price
                    | tag attached to it. IKS also believes that everyone should not be required to pay the same for
                    | services depending on their economic status. "From each according to his ability, to each
                    | according to his need". IKS offers discounts to many different groups in order to lower the price
                    | to an appropriate level for their situation.
                h2.service-tables-header About the founders
                div.center

                    div(class="pure-u-1-2")
                        h3.services-tables-header Woody Burns
                        p
                            | Studied Physics and Computer Science at McGill University. Began small renovations at the age
                            | of 12 for his father and began working full time for himself in 2013. Combining his
                            | knowledge of computers and technology with his expertise in a wood shop, he designed and
                            | produced the first "Design" units developed by IKS. (More details about IKS Design products will follow shortly so stay tuned!)
                    div(class="pure-u-1-2")
                        h3.servcies-tables-header Andrew MacCuaig
                        p
                            | Has a DEC in Computer Science from John Abbott College and is in his 3rd year of Computer Science at Carleton University.
                            | Has 5 year experience working doing IT and programming in enterprise environments. With his extensive knowledge of software
                            | systems and web design, Andrew was the spearhead behind the IKS web site.

        //- -------------------- -\\
        //- ---- CONTACT US ---- -\\
        //- -------------------- -\\
        div#Contact(class="main-section pure-g")
            div.pure-u-1
                div.l-box
                    h3.information-head Contact
                    p.information-body
                        | IKS offers services in Montreal and Ottawa. To request a quote send us an email
                        | or call us and we'll have an estimate ready for you within 12 hours.
                    table(class="pure-table iks-table iks-table-contact")
                        tbody
                            tr
                                td Email
                                td
                                    a(href="mailto:request@iknowsomeone.co?Subject=Request%20a%20Quote" target="_blank") request@iknowsomeone.co
                            tr
                                td Montreal
                                td
                                    a(href="tel:+15149692490") 514-969-2490
                            tr
                                td Ottawa
                                td
                                    a(href="tel:+16136195099") 613-619-5099
                    p
                        | IKS is also social! Feel free to ask us questions at any time on the following social media pages.

                    table(class="pure-table iks-table iks-table-contact")
                        tbody
                            tr
                                td Facebook
                                td
                                    a(target="_blank" href="http://www.facebook.com/iksservices") facebook.com/iksservices
                            tr
                                td Twitter
                                td
                                    a(a target="_blank" href="https://twitter.com/iksservices") twitter.com/iksservices

